@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Play&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Play', sans-serif;
}

a {
        text-decoration: none;
}

/* -------------------- NAVBAR -------------------- */
header {
        background: rgb(252, 207, 9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        padding: 0 50px 0 20px;
}

.logo_header {
        height: 90%;
}

.lista_links {
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 20px;
}

.link {
        color: black;
        margin: 1rem;
}

.link:hover {
        margin: 0;
        padding: 1rem;
        background: rgb(237, 28, 36);
        color: white;
        border-radius: 20px;
}


/* -------------------- BIENVENIDA -------------------- */
.cont_bienvenida {
        margin: 1rem 3rem;
        background: rgb(253, 255, 252);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
}

.cont_info_botones {
        margin: 3rem;
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 20px;
}

.titulo_bienvenida {
        max-width: 500px;
        font-size: 50px;
        color: black;
}

.texto_bienvenida {
        max-width: 500px;
        color: black;
}

.botones {
        margin-top: 2rem;
        display: flex;
        gap: 25px;
}

.boton {
        border: 5px solid black;
        padding: 1rem 1.5rem;
        border-radius: 50px;
        font-size: 20px;
}

.learn {
        background-color: white;
        color: black;
}

.contact {
        background: rgb(252, 207, 9);
        color: black;
}

.imagen_landing {
        width: 700px;
        height: auto;
        border-radius: 5px;
}


/* -------------------- DESCRIPCIÓN -------------------- */
.cont_descripcion {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        align-items: center;
        text-align: center;
        background: black;
        padding: 3rem 2rem;
}

.texto_descripcion {
        max-width: 750px;
        font-size: 20px;
        color: antiquewhite;
        text-justify: auto;
}

#flecha_izq {
        color: white;
        font-size: 80px;
        animation-name: sube_y_baja;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}

#flecha_der {
        font-size: 80px;
        color: white;
        animation-name: sube_y_baja;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}


/* -------------------- BENEFICIOS -------------------- */
.cont_beneficios {
        background-color: orange;
        text-align: center;
        padding: 3rem 2rem;
}

.titulo_beneficios {
        margin-bottom: 2rem;
        font-size: 40px;
}

.info_beneficios {
        margin: 2rem;
        font-size: 20px;
}

.lista_beneficios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
}

.beneficio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        background-color: rgb(153, 41, 0);
        padding: 2rem;
        border-radius: 30px;
        max-width: 400px;
}

.icono_beneficio {
        font-size: 80px;
        color:aliceblue;
}

.nombre_beneficio {
        font-size: 30px;
        color: white;
}

.texto_beneficio {
        font-size: 20px;
        color: white;
}


/* -------------------- WORKFLOW -------------------- */
.cont_workflow {
        text-align: center;
        padding: 3rem 2rem;
        background-color: rgb(77, 5, 147);
}

.titulo_workflow {
        margin-bottom: 2rem;
        font-size: 40px;
        color: azure;
}

.info_workflow {
        margin: 2rem;
        font-size: 20px;
        color: white;
}

.lista_workflow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}

.accion {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 300px;
        min-height: 350px;
        background-color: white;
        padding: 2rem 1rem;
        border-radius: 30px;
}

.numero_accion {
        font-size: 80px;
}

.nombre_accion {
        font-size: 30px;
        color: black;
}

.texto_accion {
        font-size: 20px;
        color: black;
}


/* -------------------- PROYECTOS -------------------- */
.cont_proyectos {
        padding: 3rem 2rem;
        background-color: rgb(100, 100, 147);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.titulo_proyectos {
        margin-bottom: 2rem;
        font-size: 40px;
        color: azure;
}

.lista_proyectos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
}

.proyecto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
}

.imagen_proyecto {
        height: 350px;
        width: auto;
        background-color: rgb(154, 154, 219);
        border-radius: 30px;
}

.cartel_proyecto {
        position: absolute;
        background-color: white;
        z-index: 2;
        width: 150px;
        text-align: center;
        border: 5px solid black;
        padding: 1rem 0.5rem;
        border-radius: 50px;
        font-size: 20px;
        display: none;
}

.link_proyecto:hover ~ .cartel_proyecto {
        display: block;
}

.link_proyecto:hover ~ .proyecto {
        background-color: rgb(154, 154, 219);
        z-index: 1;
}

.link_proyecto:hover ~ .imagen_proyecto {
        z-index: 2;
}


/* -------------------- CONTACTO -------------------- */
.cont_contacto {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
}

.intro_contacto {
        padding: 3rem;
}

.titulo_contacto {
        margin-bottom: 2rem;
        font-size: 40px;
        color: black;
}

.formulario_contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: right;
        gap: 20px;
}

.formulario_contacto div {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 20px;
}

.formulario_contacto input {
        background-color: rgb(240, 240, 240);
        border: 2px solid black;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        font-size: 20px;
}

.formulario_contacto label {
        font-size: 20px;
}

#mensaje_contacto {
        border: 2px solid black;
        background-color: rgb(240, 240, 240);
        padding: 1rem;
        border-radius: 30px;
        font-size: 20px;
}

#enviar {
        background-color: rgb(252, 207, 9);
        cursor: pointer;
}

.modos_contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
}

.direccion_contacto p {
        font-size: 20px;
}

#cartel_contacto {
        font-size: 25px;
        margin-bottom: 20px;
}

.redes_contacto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
}

.link_redes {
        padding: 1rem;
        height: 100px;
}

.mapa_contacto {
        position: relative;
}

.imagen_mapa {
        height: 650px;
        width: 450px;
        float: right;
}

.imagen_pin {
        height: 200px;
        top: 110px;
        left: 7.5px;
        position: absolute;
        animation-name: sube_y_baja;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}

@keyframes sube_y_baja {
        0% {
                transform: translateY(-10px);
        }
        100% {
                transform: translateY(10px);
        }
}


/* -------------------- FOOTER -------------------- */
footer {
        background: rgb(77, 5, 147);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
}

.logo_footer {
        background: rgb(252, 207, 9);
        border-radius: 500px;
        height: 125px;
        margin: 1rem;
}

.derechos_footer {
        color: rgb(252, 207, 9);
        font-size: 20px;
}

.links_footer a {
        text-decoration: underline;
        font-size: 15px;
        color: rgb(252, 207, 9);
}

@media (min_width:720px) {
        * {
                flex-wrap: wrap;
        }
}