@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Play&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {
        --amarillo: rgb(252, 207, 9);
        --morado: rgb(77, 5, 147);
        --naranja: rgb(255, 171, 15);
        --blanco: white;
        --negro: black;
        --verde: rgb(0, 59, 23);
}

body {
        font-family: 'Play', sans-serif;
}

a {
        text-decoration: none;
}

/* -------------------- NAVBAR -------------------- */
header {
        background: var(--amarillo);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 1rem;
}

.logo_header {
        height: 100px;
}

.icono_hamburguesa {
        font-size: 35px;
        color: var(--morado);
        margin-right: 2rem;
}

.nav {
        display: none;
}

.lista_links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        list-style: none;
        font-size: 30px;
}

.link {
        color: var(--morado);
        font-weight: bold;
        text-transform: uppercase;
        margin: 1rem;
}

.link:hover {
        margin: 0;
        padding: 1rem;
        background: var(--naranja);
        border-radius: 20px;
}

#toggle_hamburguesa {
        display: none;
}

#toggle_hamburguesa:checked ~ .nav {
        display: block;
        width: 100%;
        padding: 1rem 0;
}

.icono_hamburguesa:hover {
        cursor: pointer;
}

#toggle_hamburguesa:checked ~ .icono_hamburguesa {
        transform: rotate(90deg);
        transition: all 0.5s ease;
}

/* -------------------- BIENVENIDA -------------------- */
.cont_bienvenida {
        padding: 3rem 0;
        background: var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 380px;
}

.cont_info_botones {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 25px;
        max-width: 380px;
}

.titulo_bienvenida {
        padding: 2rem;
        text-align: center;
        overflow-wrap: break-word;
        font-size: 50px;
        color: black;
        max-width: 380px;
}

.texto_bienvenida {
        text-align: center;
        text-justify: auto;
        color: black;
        max-width: 380px;
}

.botones {
        margin-top: 1rem;
        display: flex;
        gap: 50px;
}

.boton {
        border: 5px solid black;
        padding: 1rem;
        border-radius: 50px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
}

.learn {
        background-color: white;
        color: black;
}

.contact {
        background: var(--amarillo);
        color: black;
}

.cont_imagen {
        display: flex;
        justify-content: center;
        align-items: center;
}

.imagen_landing {
        width: 80%;
}


/* -------------------- DESCRIPCIÓN -------------------- */
.cont_descripcion {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        align-items: center;
        text-align: left;
        background: black;
        padding: 5rem 1.5rem;
}

.texto_descripcion {
        max-width: 80%;
        font-size: 25px;
        color: var(--blanco);
}

#flecha_izq {
        display: none;
}

#flecha_der {
        font-size: 80px;
        color: white;
        animation-name: sube_y_baja;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}


/* -------------------- BENEFICIOS -------------------- */
.cont_beneficios {
        background-color: orange;
        text-align: center;
        padding: 3rem 1.5rem 5rem;
}

.intro_beneficios {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
}

.titulo_beneficios {
        font-size: 45px;
}

.info_beneficios {
        font-size: 25px;
}

.lista_beneficios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
}

.beneficio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        background-color: var(--verde);
        padding: 2rem;
        border-radius: 30px;
        max-width: 400px;
}

.icono_beneficio {
        font-size: 50px;
        color:aliceblue;
}

.nombre_beneficio {
        font-size: 35px;
        color: white;
}

.texto_beneficio {
        font-size: 25px;
        color: white;
}


/* -------------------- WORKFLOW -------------------- */
.cont_workflow {
        text-align: center;
        padding: 3rem 1.5rem 5rem;
        background-color: rgb(77, 5, 147);
}

.intro_workflow {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
}

.titulo_workflow {
        font-size: 45px;
        color: azure;
}

.info_workflow {
        font-size: 25px;
        color: white;
}

.lista_workflow {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
}

.accion {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        padding: 2rem 1rem;
        border-radius: 20px;
        max-width: 400px;
}

.numero_accion {
        font-size: 30px;
}

.nombre_accion {
        font-size: 35px;
        color: black;
}

.texto_accion {
        font-size: 25px;
        color: black;
}


/* -------------------- PROYECTOS -------------------- */
.cont_proyectos {
        padding: 3rem 1.5rem 5rem;
        background-color: rgb(0, 59, 23);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.titulo_proyectos {
        margin-bottom: 3rem;
        font-size: 45px;
        color: azure;
        text-align: center;
}

.lista_proyectos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
}

.proyecto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        background-color: rgb(154, 154, 219);
        border-radius: 10px;
}

.imagen_proyecto {
        max-height: 150px;
        width: auto;
}

.cartel_proyecto {
        position: absolute;
        background-color: white;
        z-index: 2;
        width: 150px;
        text-align: center;
        border: 5px solid black;
        padding: 1rem 0.5rem;
        border-radius: 50px;
        font-size: 25px;
        display: none;
}

.link_proyecto:hover ~ .cartel_proyecto {
        display: block;
}

.link_proyecto:hover ~ .proyecto {
        background-color: rgb(154, 154, 219);
        z-index: 1;
}

.link_proyecto:hover ~ .imagen_proyecto {
        z-index: 2;
}


/* -------------------- CONTACTO -------------------- */
.cont_contacto {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 380px;
}

.intro_contacto {
        padding: 3rem 1.5rem 1rem;
        max-width: 380px;
}

.titulo_contacto {
        margin-bottom: 2rem;
        font-size: 50px;
        text-align: center;
        color: black;
}

.formulario_contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
}

.formulario_contacto div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        gap: 20px;
}

.formulario_contacto input {
        background-color: rgb(240, 240, 240);
        border: 2px solid black;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        font-size: 20px;
        max-width: 300px;
}

.formulario_contacto label {
        font-size: 20px;
}

#mensaje_contacto {
        border: 2px solid black;
        background-color: rgb(240, 240, 240);
        padding: 1.5rem;
        border-radius: 30px;
        font-size: 20px;
}

#enviar {
        background-color: rgb(252, 207, 9);
        cursor: pointer;
        padding: 1.5rem;
}

.modos_contacto {
        padding: 3rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        order: 2;
        width: 100%;
        max-width: 380px;
}

.direccion_contacto p {
        text-align: center;
        font-size: 25px;
}

#cartel_contacto {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.redes_contacto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
}

.link_redes {
        height: 50px;
}

.mapa_contacto {
        position: relative;
        order: 1;
}

.imagen_mapa {
        height: 500px;
        width: 350px;
        float: right;
}

.imagen_pin {
        height: 200px;
        top: 50px;
        left: -10px;
        position: absolute;
        animation-name: sube_y_baja;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
}


/* -------------------- FOOTER -------------------- */
footer {
        background: rgb(77, 5, 147);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 1rem;
        text-align: center;
}

.logo_footer {
        background: rgb(252, 207, 9);
        border-radius: 500px;
        height: 125px;
        margin: 1rem;
}

.derechos_footer {
        color: rgb(252, 207, 9);
        font-size: 20px;
}

.links_footer a {
        text-decoration: underline;
        font-size: 15px;
        color: rgb(252, 207, 9);
}


/* -------------------- ANIMACIONES -------------------- */
@keyframes sube_y_baja {
        0% {
                transform: translateY(-10px);
        }
        100% {
                transform: translateY(10px);
        }
}


@media screen and (min-width: 1024px) {
        /* -------------------- NAVBAR -------------------- */
        header {
                flex-wrap: nowrap;
        }

        .logo_header {
                height: 125px;
                margin-left: 0.5rem;
        }
        
        .icono_hamburguesa {
                font-size: 45px;
                margin-right: 3rem;
        }
        
        .nav {
                display: block;
        }
        
        .icono_hamburguesa {
                display: none;
        }
        
        .lista_links {
                flex-direction: row;
                flex-wrap: wrap;
                font-size: 25px;
                padding: 2rem;
        }
        
        #toggle_hamburguesa:checked ~ .nav {
                display: block;
                width: auto;
        }

        /* -------------------- BIENVENIDA -------------------- */
        .cont_bienvenida {
                padding: 3rem 1.5rem 3rem 5rem;
                flex-direction: row;
                justify-content: space-around;
                gap: 100px;
                max-width: none;
        }
        
        .cont_info_botones {
                padding: 0;
                justify-content: space-between;
                align-items: baseline;
                gap: 50px;
                max-width: none;
        }
        
        .titulo_bienvenida {
                margin: 0;
                text-align: left;
                font-size: 60px;
                max-width: none;
        }
        
        .texto_bienvenida {
                max-width: none;
                text-align: left;
                max-width: 750px;
                color: black;
                font-size: 30px;
                line-height: 40px;
        }

        .botones {
                justify-content: space-around;
                align-items: center;
                width: 100%;
        }
        
        .boton {
                font-size: 30px;
                text-align: center;
        }

        .imagen_landing {
                width: 100%;
                height: auto;
        }

        /* -------------------- DESCRIPCIÓN -------------------- */
        .cont_descripcion {
                gap: 50px;
                padding: 5rem 3rem;
        }

        .texto_descripcion {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                line-height: 50px;
        }
        
        #flecha_izq {
                display: block;
                color: white;
                font-size: 100px;
                animation-name: sube_y_baja;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
        }

        #flecha_der {
                font-size: 100px;
        }
        /* -------------------- BENEFICIOS -------------------- */
        .lista_beneficios {
                flex-direction: row;
                gap: 30px;
        }

        .beneficio {
                gap: 30px;
                padding: 3rem;
                max-width: 400px;
        }

        /* -------------------- WORKFLOW -------------------- */
        .lista_workflow {
                flex-direction: row;
                justify-content: space-around;
                gap: 30px;
        }

        .accion {
                gap: 10px;
                padding: 3rem 0.5rem;
                border-radius: 20px;
                max-width: 300px;
        }

        /* -------------------- PROYECTOS -------------------- */
        .lista_proyectos {
                flex-direction: row;
                justify-content: space-around;
        }

        .proyecto {
                min-width: 400px;
                border-radius: 10px;
        }
        
        .imagen_proyecto {
                min-height: 250px;
        }

        /* -------------------- CONTACTO -------------------- */
        .cont_contacto {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 0;
        }
        
        .intro_contacto {
                padding: 3rem;
        }

        .modos_contacto {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 50px;
                order: 1;
                width: auto;
        }

        .mapa_contacto {
                position: relative;
                height: 100%;
                order: 2;
        }

        .imagen_mapa {
                min-height: 650px;
                min-width: 450px;
                height: auto;
        }
        
        .imagen_pin {
                height: 200px;
                top: 180px;
                left: 7.5px;
                position: absolute;
                animation-name: sube_y_baja;
                animation-duration: 1s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
        }
}